/* Styles for the elements */

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    width: 98%;
    max-width: 2560px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    clear: left;
}

a:visited {
    color: #8c00ffaf;
}

a:hover, a:focus {
    color: #00ff00;
}

/* Styles for the header */

header {
    background-image: linear-gradient(30deg, #01ff4d 25%, #008011 45%, #03d103 65%, green 80%);

}

#Nathan {
    color: blue;
    padding: 1em;
    text-align: center;
    border-bottom: solid 3px #8c00ffaf;
}


/* the styles for the navigation menu */
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
}

#nav_menu ul li {
    flex-basis: 20%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #001aff;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}

#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu ul li a:hover {
    background-color: #000e91;
}

/* styles for the picture in the body*/

#profile {
    float: left;
    min-width: 250px;
    padding-right: 1em;
}

#about {
    text-indent: .5em;
    text-align: left;
    padding-bottom: .5em;

}
/* Styles for the section*/

#more {
    font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    float: right;
    padding: 0 2.5% 20px 2.5%;
}
/* currently not in use for this version of my website*/
/* section p {
    text-indent: .5em;
    text-align: left;
    padding-bottom: .5em;

}

/* Styles for the aside *
aside {
    width: 26.875%;
    float: left;
    margin: .5em 0 1em 1em;
}

aside img {
    width: 75%;
    min-width: 200px;
    margin: .5em 0 1em 1em;
    padding: 0 0 20px 2.5%;
}

/* Temp spot for the bio and resume image css*/

#bio_image {
    padding-bottom: 2em;
}

#resume {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for the footer */

footer {
    clear: both;
    text-align: center;
    padding: 1em;
    border: solid 2px #0000ff;
}

@media only screen and (max-width: 1020px) {
    #profile {
        float: none;
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

@media only screen and (max-width: 940px) {
    #nav_menu ul li {
       
        width: 100%;
    }

    #nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid white;
    }

    #nav_menu ul li a.lastitem {
        border-bottom: none;
    }

    #bio_image {
        width: 30%;
        min-width: 400px;
        padding-bottom: 2em;
        display:flex;
        margin-left: auto;
        margin-right: auto;
    
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 125%;
    }

    h2 {
       font-size: 110%;
    }
    h3 {
        font-size: 100%;
    }
}

@media only screen and (max-width: 800px) {
    section, aside {
        float: none;
    }    
}

