/*Type selectors */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    clear: left;
}
header {
    background-image: linear-gradient(30deg, #01ff4d 25%, #008011 45%, #03d103 65%, green 80%);

}
/* ID & Class Selectors*/
#Nathan {
    color: blue; 
    padding: 1em;
    text-align: center;
    border-bottom: solid 3px #8c00ffaf;
}

/*Combo selectors*/
section {
    font-family:'Times New Roman', Times, serif;
    font-size: 125%;
    float: right;
    width: 75%;
    padding: 1em;
}
 section p {
    text-indent: .5em;
    text-align: left;
    margin-right: 5em;

}
aside {
    float: left;
    width: 20%;
    
}
aside img {
    margin-bottom: .5em;
    padding: 1em;
}

/*pseudo class*/
a:visited {
    color:#8c00ffaf;
}

a:hover, a:focus {
    color: #00ff00; 
}

footer {
    clear: both;
    padding: 1em;
    text-align: center;
    border: solid 2px #0000ff;
}
