/* Styles for the elements */

body {
    font-family: 'Space Grotesk', sans-serif;
    max-width: 2560px;
    margin: 0 auto;
    background-color: rgba(7, 116, 212, 0.233);
}

main {
    padding: 1em;
}

h1 {
    font-family: 'BioRhyme', serif;
}

a {
    text-decoration: none;
}

ul {
    clear: left;
}

a:visited {
    color: #8c00ffaf;
}

a:hover,
a:focus {
    color: #040b6d;
}

p {
    font-size: 125%;
}

/* Styles for the header */

header {
    background-image: linear-gradient(30deg, #012b50 10%, #003569 45%, #00264e 65%, #00498D 80%, #0052A2 100%);
}

header h2 {
    margin: 0;
    padding-left: .5em;
    color: aliceblue;
}

#Nathan {
    color: #a200ff;
    padding: 1em;
    margin-bottom: 0em;
    text-align: center;
    border-bottom: solid 4px #8c00ffaf;
}


/* the styles for the navigation menu */

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
}

#nav_menu ul li {
    flex-basis: 20%;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #023a68;
    color: #ffffff;
    font-weight: bold;
}

#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}


#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu ul li a:hover {
    background-color: #040b6d;
}

/* styles for the picture in the body*/

#profile {
    float: left;
    min-width: 250px;
    padding-right: 1em;
    margin: 0;
}

#about {
    text-align: left;
    padding-bottom: .5em;

}

/* Styles for the section*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.content {
    padding: 20px;
    line-height: 180%;
}


/* Styles for my bio and resume page */

.bio {
    padding: 0 5%;
    line-height: 180%;

}

#bio_image {
    padding-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resume {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* styles for my Experience Portfolio page */

.exp {
    padding: 0 5%;
    margin: 2em 5%;
}

.Portfolio .exp {
    padding-left: 1em;
    padding-right: 1em;
    line-height: 180%;
    border: 1px solid black;
    background-color: rgba(184, 181, 181, 0.418);
}

.Portfolio .header {
    text-align: center;
}

/* Styles for the contact info page*/

#con {
    line-height: 250%;
    font-size: 125%;
}

#con ul {
    list-style-type: none;
}

#con h2 {
    text-align: center;
    font-weight: bolder;
}

/* Syles for the icons on the contact page*/

.fa-envelope {
    color: #0000ff;
}

.fa-phone {
    color: #02a802;
}

.fa-location-dot {
    color: #ce0000;
}

.fa-github {
    color: #000000;
}

.fa-linkedin {
    color: #006bb3;

}

/* Styles for the footer */

footer {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: .5em 0;
    border: solid 2px #0000ff;
}

#mobile_menu {
    display: none;
}

@media only screen and (max-width: 1020px) {
    #profile {
        float: none;
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

@media only screen and (max-width: 940px) {
    #nav_menu {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    .slicknav_menu {
        background-color: #023a68 !important;
    }

    #bio_image {
        width: 30%;
        min-width: 400px;
        padding-bottom: 2em;

    }

    .Portfolio .exp {
        line-height: 150%;
    }

}

@media only screen and (max-width: 800px) {

    section,
    aside {
        float: none;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 125%;
    }

    h2 {
        font-size: 110%;
    }

    h3 {
        font-size: 100%;
    }

    p {
        font-size: 90%;
    }

    #con {
        font-size: 100%;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .Portfolio .exp {
        line-height: 125%;
    }
}